@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom scrollbar for WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #3a4149; /* Background color of the scrollbar track */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #747f8d; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
    border: 2px solid #3a4149; /* Padding around the scrollbar thumb */
  }
  
  /* Custom scrollbar for Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #747f8d #3a4149;
  }